ClientLayer/Service References/AuthenticateService/SharedLayer.Models.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLayer.Models" elementFormDefault="qualified"
           targetNamespace="http://schemas.datacontract.org/2004/07/SharedLayer.Models"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientIdentity" nillable="true" type="tns:ClientIdentity" />
</xs:schema>